body {
  font-family: "Abel", sans-serif;
  overflow: hidden;
}
p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

#title {
    font-size: 55px!important;
}
.subtitle {
    font-size: 25px;
}

section {
    margin-top: 200px;
}


#title {
  font-weight: 200;
  font-size: 3.2em;
  margin-bottom: 50px;
}

.factors {
    font-size: 25px;
}

#title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

#title .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.212);
  transform-origin: 100% 100%;
  bottom: 0;
}

#title .letter {
  display: inline-block;
  line-height: 1em;
}

.navbar a.is-inview {
    background-color: aqua;
}

.icons svg {
    margin-right: 50px;
}

#sidebar {
    margin-top: 50px;
}

#sidebar .section {
    margin-top: 0;
    position: fixed;
}
