body {
  font-family: "Abel", sans-serif;
  overflow: hidden;
}
p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

#title {
  font-size: 55px !important;
}
.subtitle {
  font-size: 25px;
}

section {
  padding-top: 250px!important;
}

#title {
  font-weight: 200;
  font-size: 3.2em;
  margin-bottom: 50px;
}

.factors {
  text-align: center;
  margin-top: 60px;
}


/* Baustelle */

.section-price-calc {
  position: centered;
  margin-top: 60px;
  font-size: 20px;
}

.price-calc-label {
    
}

.box {
    width: 450px;
    background: #fafafa;
}


/* Ende */


.navbar-item {
    transition: all 400ms;
}

#title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

#title .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.212);
  transform-origin: 100% 100%;
  bottom: 0;
}

#title .letter {
  display: inline-block;
  line-height: 1em;
}

#sidebar li a {
  padding-left: 8px;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

#sidebar li a.active {
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.icons svg {
  margin-right: 50px;
}

#sidebar {
  margin-top: 50px;
}

#sidebar a {
    transition: all 400ms;
}

#sidebar .section {
  margin-top: 0;
  position: fixed;
  padding-top: 0!important;
}

.card-content {
    display: none;
}

#about h3 {
    text-align: center;
}

.introduction {
    margin-bottom: 50px;
}

.card-header-icon {
    transition-duration: 0.8s;
}
.activeToggle {
    transform: rotate(180deg);
}

#contacts svg {
    transform: scale(1.3);
    color: #3273dc;
    transition: all 0.2s;
    cursor: pointer;
}

#contacts svg:hover {
    transform: scale(1.8);
}

.fa-discord {
    color: #4a4a4a!important;
    cursor: default!important;
}

svg.fa-discord:hover {
    transform: scale(1.3)!important;
}

@media (max-width: 480px) {
    iframe {
        width: 100%;
        height: auto;
    }
    #title {
        font-size: 50px!important;
    }
}